<div class="section container">
	<div class="level">
		<div class="step">
			<span class="active1">Pays de départ</span>
			<i class="active"></i>
			<progress max="100" value="50"></progress>
		</div>
		<div class="step">
			<span>Aéroport</span>
			<i></i>
			<progress max="100" value="0"></progress>
		</div>
		<div class="step">
			<span>Date et heure d'arrivée</span>
			<i></i>
			<progress max="100" value="0"></progress>
		</div>
		<div class="step">
			<span>Date et heure de retour</span>
			<i></i>
		</div>
	</div>
	<div class="content">
		<div class="title">Sélectionner un pays</div>
		<div class="bottom">
			<div class="selector">
				<i class="be"></i>
				<span>Belgique</span>
			</div>
			<div class="selector">
				<i class="fr"></i>
				<span>France</span>
			</div>
			<div class="selector">
				<i class="nl"></i>
				<span>Pays-Bas</span>
			</div>
			<div class="selector">
				<i class="de"></i>
				<span>Allemagne</span>
			</div>
			<div class="selector">
				<i class="it"></i>
				<span>Italie</span>
			</div>
			<div class="selector">
				<i class="pt"></i>
				<span>Portugal</span>
			</div>
		</div>
		<div class="next">
			<button>Suivant</button>
		</div>
	</div>
</div>